@page
@using System.Web
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the index page!</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <h1>Hi @User.Identity.Name</h1>

        <form action="/AuthExample/Logout" method="POST">
            <input type="submit" value="Logout">
        </form>
    }
    else
    {
        <a href="/AuthExample/Login?ReturnUrl=@HttpUtility.UrlEncode("/AuthExample/Index")">Login</a>
    }

    <h1>Secret Page:</h1>
    <a href="/AuthExample/Secret">Secret Page</a>
</body>
</html>